.container{
    background-color: #FFFFFF;
    padding: 20px;
    position: relative;
    height: 70vh;
}

.container > p{
    margin-bottom: 5px;
}

.name{
    font-size: 20px;
    padding: 10px;
}

.desc{
    text-align: start;
    font-weight: 400;
}

.redTxt{
    color: #f51720;
    margin-right: 5px;
    font-weight: 600;
}

.techStack{
    text-align: start;
    font-weight: 400;
}

.icons{
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.icons > div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    border: 1px solid rgb(183, 180, 180);
}

.icons > div:hover{
   background-color: #f51720;
   color: white;
   border: none;
}