.blinkDiv {
  width: 40px;
  height: 40px;
  animation: blink 1.5s infinite;
  position: absolute;
  background-color:rgb(252, 64, 64);
  border-radius: 50%;
  top: 20px;
  left: -23px;
}

.current{
  width: 40px;
  height: 40px;
  animation: blink 1.5s infinite;
  position: absolute;
  border-radius: 50%;
  top: 20px;
  left: -23px;
  background-color:#3afd13;
}

@keyframes blink {
  0% {
    transform: scale(0.33);
  }
  30% {
    transform: scale(0.66);
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
